.login-container {
    display: flex;
}

.login-container div {
    display: flex;
    flex-flow: column;
    width: 100%;
    max-width: 300px;
    margin: auto;
    margin-top: 20vh;
}

.login-container div * {
    margin-bottom: 10px;
}